/*GLOBAL STYLING IS LOCATED HERE */
* {
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
}

/*NAVIGATION STYLING GOES HERE */

.nav-links {
    display: inline-block;
    padding: 10px 30px 10px 30px;
    margin: 10px;
    justify-content: center;
    color: red;
    font-size: 1rem;
    border: 5px solid #453e3e;
	background: #e5dcdc;
    border-radius: 20px;
}

.header-logo-text {
    display: inline-block;
    font-size: 2rem;
    margin: 20px;
    padding: 20px;
    color: pink;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 4px solid #453e3e;
    background: rgba(245, 237, 237, 1);
    position: sticky;
    top:0;
    z-index: 100;
}

.header-logo-text {
    font-family: "Fascinate Inline", system-ui;
	color: #453e3e;
}

/*GENERAL LINK STYLING GOES HERE */

a:link {
    color: #ca2727;;
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
}

a:visited {
    color:#9b1313;
}

a:hover {
    color: #853f3f;
}

a:active {
    color: #ca6565;
}

/*BODY TEXT STYLES GO HERE */

p {
    margin: 20px;
    font-family: "Quicksand", sans-serif;
}

/*HEADER TEXT STYLES*/

h2 {
    font-size: 1.53rem;
    font-family: "Quicksand", sans-serif;
    margin-top: 20px;
    color: #b89090;
}

/*FONT CHOICES GO HERE */

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.fascinate-inline-regular {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*IMG LOGO STYLING GOES HERE*/

.header-logo {
    width: 100px;
    height: auto;
    margin: 20px;
    display: flex;
}

.plume-hi {
	max-width: 50%;
	height: auto;
	padding: 50px 0;
}
/*MOBILE STYLING FOR ELEMENTS*/

@media (max-width: 600px) {
    .header-logo {
        width: 60px;
        margin: 10px;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        text-align: center;
    }
    .header-logo-text {
        font-size: 1.2rem;
        margin: 10px 0;
        padding: 10px 0;
    }
    nav ul {
        flex-direction: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin: 0;
        align-items: center;
    }
    .nav-links {
        display: block;
        margin: 10px 0;
        padding: 10px 20px;
        width: 100%;
        text-align: center;
		box-sizing: border-box;
    }
	
	#flip-container {
		display: block !important;
	}
}

/*BODY STYLING GOES HERE */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-content {
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    max-width: 60%;
    background-color: #fff;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*SPECIAL FLIP STYLING GOES HERE */

#flip-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  position: static; /* Remove fixed positioning */
  width: auto;
  padding-top: 20px;
}

.flip-static {
  margin-right: 16px;
  font-size: 2rem;
}

#flip {
  height: 45px;
  overflow: hidden;
  display: inline-block;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:40px;
  margin-bottom:45px;
  display:inline-block;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
}

#flip div:first-child {
  animation: show 5s ease-out infinite;
}

#flip div div {
  background:#d1af15;
}
#flip div:first-child div {
  background:#2ca8d4;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-130px;}
  33% {margin-top:-130px;}
  38% {margin-top:-60px;}
  66% {margin-top:-60px;}
  71% {margin-top:-5px;}
  99.99% {margin-top:-5px;}
  100% {margin-top:-270px;}
}

/*STYLING FOR THE ROLLOVER IMAGE ON THE INDEX PAGE GOES HERE*/

#heroimage1 {
	max-width: 100%;
	height: auto;
	margin-top: 50px;
}

/*STYLING FOR THE WHAT'S IN MY BAG GALLERY GOES HERE*/

.WIMB-header1 {
    font-size: 3rem;
    font-family: "Fascinate Inline", system-ui;
    padding: 100px 0;
    text-align: center;
}

/*GENERAL FOOTER STYLING GOES HERE */

#footer {
    max-width: 50%;
    margin: 0 auto;
}

.footer-container {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-top: 2px solid #000;
    background-color: #252525;
}

.footer-logo-text {
    display: inline-block;
    font-size: 2rem;
    margin-top: 20px;
    color: lavender;
    font-family: "Fascinate Inline", system-ui;
}

.footer-links-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    justify-content: center;
    padding-bottom: 20px;
    margin: 0;
    list-style: none;
    align-items: center;
}

.footer-logo {
    width: 100px;
    height: auto;
    margin: auto;
    padding-top: 40px;
}

.footer-p {
    color: #969696;
}

/*FOOTER LINKS STYLING CAN GO HERE */

.footer-links {
    padding: 10px 30px;
    margin: 10px;
    border: 4px solid #474747;
    border-radius: 20px;
    list-style: none;
}

.footer-links-container a:link {
    color: #fff;
}

.footer-links-container a:visited {
    color: #aa8a8a;
}

.footer-links-container a:hover {
    color: #ECDFDF;
    background-color: #4d4343;
}

.footer-links-container a:active {
    color: #a76c6c;
}